@import "allstyle.css";

body {
    background-color: #ffe56d;
    font-size: 11px;
    font-family: Calibri, Geneva, Arial, Helvetica;
}

div.error_container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

legend.title {
    font-size: 25px;
}

div.error_text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.white_color {
    background-color: #ffffff;
}

.gold_border {
    border: 2px solid goldenrod;
}
.contact_admin {
    font-size: .9em;
    padding: 5px;
    padding-bottom: 0px;
}

p.copyright {
    text-align: center;
}