@import "allstyle.css";

@import "sorter.css";

@import "tabs.css";

@import "paginator.css";

@import "accordion.css";

@import "sortable.css";

@import "mmod.css";

@import "bbcodes.css";

html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    font-size: 12px;
    font-family: Calibri, Geneva, Arial, Helvetica;
    padding: 0px;
    width: 100%;
    margin: 0px;
}

div.content_main {
    clear: both;
    padding: 10px;
    margin-top: 80px;
}

a.top_home_image {
    position: relative;
    width: 16px;
    height: 16px;
    left: -10px;
    top: 24px;
    margin: 0px;
}

div.top_left {
    position: relative;
    float: left;
    background-image: url(../images/top_left.png);
    background-repeat: no-repeat;
    width: 436px;
    height: 62px;
}

div.top_right {
    position: relative;
    float: right;
    background-image: url(../images/top_right.png);
    background-repeat: no-repeat;
    width: 451px;
    height: 62px;
}

div.top_center {
    background-image: url(../images/top_center.png);
    background-repeat: repeat-x;
    width: auto;
    height: 62px;
    margin-left: 436px;
    margin-right: 451px;
    margin-bottom: -62px;
}

div.body_div {
    background-color: white;
    margin-left: 13px;
    margin-right: 13px;
    padding: 1px;
    clear: both;
}

div.lt_corner {
    position: relative;
    float: left;
    background-image: url(../images/lt_corner.png);
    background-repeat: no-repeat;
    width: 13px;
    height: 10px;
}

div.rt_corner {
    position: relative;
    float: right;
    background-image: url(../images/rt_corner.png);
    background-repeat: no-repeat;
    width: 13px;
    height: 10px;
}

div.lb_corner {
    position: relative;
    float: left;
    background-image: url(../images/lb_corner.png);
    background-repeat: no-repeat;
    width: 13px;
    height: 10px;
    top: -10px;
}

div.rb_corner {
    position: relative;
    float: right;
    background-image: url(../images/rb_corner.png);
    background-repeat: no-repeat;
    width: 13px;
    height: 10px;
    top: -10px;
}

div.top_shadow {
    background-image: url(../images/top.png);
    background-repeat: repeat-x;
    height: 10px;
    margin-left: 13px;
    margin-right: 13px;
}

div.bottom_shadow {
    background-image: url(../images/bottom.png);
    background-repeat: repeat-x;
    height: 10px;
    margin-left: 13px;
    margin-right: 13px;
}

div.left_shadow {
    background-image: url(../images/left.png);
    background-repeat: repeat-y;
    background-position: left;
    padding-right: 13px;
}

div.right_shadow {
    background-image: url(../images/right.png);
    background-repeat: repeat-y;
    background-position: right;
    margin-right: -13px;
}

#top-menu {
    position: relative;
    left: 7px;
    top: -31px;
    margin-top: -16px;
}

div.left_column {
    width: 250px;
    min-width: 250px;
    margin: 0px;
    padding: 0px;
}

div.center_column {
    margin: 0px;
    padding: 0px;
}

ul.left_menu {
    padding: 0px;
    margin: 0px;
    border-right: 1px solid #a5aeb7;
    margin-right: 5px;
}

ul.left_menu li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 3px;
}

ul.left_menu li span {
    font-weight: bold;
    font-family: "Times New Roman";
    text-transform: uppercase;
    font-size: 10px;
}

ul.left_menu li ul {
    padding-left: 5px;
}

ul.left_menu li ul li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

ul.left_menu li ul li a {
    color: #800b14;
    text-decoration: none;
    padding-right: 2px;
}

ul.left_menu li ul li.selected a {
    font-weight: bold;
}

table.border_table {
    border: 1px solid #3c556b;
    border-bottom: 0px;
    border-right: 0px;
    border-collapse: separate;
    padding: 0px;
    margin: 0px;
}

table.border_table td,table.border_table th {
    border: 1px solid #3c556b;
    border-top: 0px;
    border-left: 0px;
    padding: 3px;
}

div.full_container {
    display: table;
    min-height: 100%;
    width: 100%;
    margin: 0;
}

div.footer {
    position: relative;
    width: auto;
    text-align: center;
    margin-top: -33px;
    padding: 0 20px;
}

div.table_name {
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    margin-bottom: -5px;
}

div.admin_main_page {
    font-size: 15px !important;
}
div.admin_main_page dt {
    width: 60% !important;
}